*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-color:rgba(56, 107, 132, 0.545);
    display: flex;
    
}

#part1{
    height: 100%;
    width: 26%;
}

#overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(161, 145, 149, 0.12);
}
#part2{
    height: 100%;
    width: 67%;
    background-image: url(tas.jpeg);
    background-size: cover;
    background-position: center;
    

}
#part3{
    height: 100%;
    width: 7%;
}

#text-div{
    height: 300px;
    position: absolute;
    width: 400px;
    left: 7%;
    top: 50%;
    transform: translate(0,-50%);
    cursor:default;
}

#text-div>h1{
    font-size: 95px;
    font-family: monument;
    font-weight:  900;
    letter-spacing: 8px;
    line-height: 78px;
    color: #fff;
    text-transform: uppercase;
}

#small-img-div{
    height: 400px;
    width: 300px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0,-50%);
    background-image: url(ifte.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}

#vertical-text{
    position: absolute;
    transform: rotate(90deg);
    right: -48%;
    top: -0%;
    transform-origin: 0% 0%;
    /* width: 100%; */
    cursor:default;

}

#vertical-text h1{
    text-transform: capitalize;
    font-size: 70px;
    font-weight: 900;
    color: transparent;
    letter-spacing: 6px;
    font-family: monument;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

#nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 365px;
    left: 7%;
    top: 5%;
}

#nav img{
    height: 60px;
    border-radius: 50%;
}


#nav h5{
    font-size: 20px;
    font-family: gilroy;
    color:#fff;
    cursor:default;

}